#root {
  margin: 0 auto;
  text-align: center;
}

.fact__text {
  font-size: 1.4rem;
  font-weight: 600;
  text-align: left;
  line-height: 1.2;
  padding: 28% 7.5% 0 7.5%;
}

.fact__container {
  display: flex;
  height: 100vh;
  margin: 0;
  align-items: flex-start;
}

.nav__container {
  display: flex;
  height: 100vh;
  margin: 0;
  align-items: left;
  background-color: white;
  align-items: center;
}

.nav__item {
  text-align: left;
  padding: 3px 0;
}

#gave-away {
  background-color: #f44336;
}
#immigrated {
  background-color: #e81e63;
}
#steel {
  background-color: #9c27b0;
}
#medal {
  background-color: #673ab7;
}
#dinosaur {
  background-color: #3f51b5;
}
#second-richest {
  background-color: #2196f3;
}
#fortune {
  background-color: #03a9f4;
}
#carnegie-steel {
  background-color: #00bcd4;
}
#homestead-strike {
  background-color: #009688;
}
#short {
  background-color: #4caf50;
}
#scottish {
  background-color: #8bc34a;
  color: rgba(0, 0, 0, 0.8);
}
#philanthropist {
  background-color: #cddc39;
  color: rgba(0, 0, 0, 0.8);
}
#marriage {
  color: rgba(0, 0, 0, 0.8);
  background-color: #ffeb3b;
}
#braddock {
  color: rgba(0, 0, 0, 0.8);
  background-color: #ffc107;
}
#death {
  background-color: #ff9800;
  color: rgba(0, 0, 0, 0.8);
}

#daughter {
  background-color: #ff5722;
  color: rgba(0, 0, 0, 0.8);
}
#jobs {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.8);
}
#parents {
  background-color: #000000;
}
